/* Fixed Display */
.sidebar menu {
  transform: translateX(500px);
}

menu {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 350px;
  position: fixed;
  top: 0;
  left: -500px;
  z-index: 1;
  overflow-x: hidden;
  transform: translateX(0);
  transition: transform 0.5s;

  background-color: $menu-bg;

  header {
    background-color: $menu-header-bg;
    border-bottom: 0.5vh solid $menu-header-border;

    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  nav a {
    color: $nav-title-text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.active {
  & > a {
    color: $nav-title-active;
    background-color: $nav-title-bg-active;
  }
}

li::before {
  width: 0px;
  height: 0px;
}

nav ul li {
  display: flex;
  flex-direction: column;

  a {
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;

    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      background-color: $nav-title-bg-active;
    }
  }
}

nav ul li ul {
  margin-left: 2rem;
}

#switch_language {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;

  select {
    width: 90%;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right
      #ddd;
    -webkit-appearance: none;
    background-position-x: 95%;
  }
}

main,
aside {
  margin-left: 0px;
  padding-right: 1rem;
  padding-left: 3rem;
}

.sidebar {
  main,
  aside {
    margin-left: 345px;
  }
}

#button-menu {
  background: none;
  border: none;
  cursor: pointer;
  color: $nav-title-active;
}

aside {
  background-color: $menu-header-bg;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media only screen and (max-device-width: 480px) {
  menu {
    width: 250px;
  }
  main,
  aside {
    padding-left: 1rem;
  }

  .sidebar {
    main,
    aside {
      margin-left: 250px;
    }
  }
}
