/* General */
$body-bg: #1C1F2B;
$text: #B2BFCF;
$link: #3EB1D0;
$link-hover: #FFFFFF;
$color-header: #FFFFFA;
$footer-bg: #e0e0e0;

/* Menu (Navigation, ...) */
$menu-bg: #2B304D;
$menu-header-bg: #A52639;
$menu-header-border: #FE5864;
$nav-title-text: #B2BFCF;
$nav-title-active: #FFFFFF;
$nav-title-bg-active: #252737;
