<footer>
  <div class="sponsor">
    <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/fr/">
      <img src="{{"img/logos/CC-BY-NC-SA.png" | relURL}}" title="Contenu sous licence CC-BY-NC-SA" />
    </a>

    <a href="https://ec.europa.eu/programmes/horizon2020/">
      <img src="{{"img/logos/EU.jpg" | relURL}}"
        title="This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No. 732287." />
    </a>

    <a href="https://rosin-project.eu/ftp/ros4-pro">
      <img src="{{"img/logos/ROSIN.png" | relURL}}"
        title="Supported by ROSIN ROS-Industrial Quality-Assured Robot Software Components" />
    </a>

    <a href="https://eitmanufacturing.eu/">
      <img src="{{"img/logos/EITM.png" | relURL}}" title="EIT Manufacturing" />
    </a>

    <a href="https://robot-enseirb-matmeca.fr/">
      <img src="{{"img/logos/Bx-INP.png" | relURL}}" title="Bordeaux INP" />
    </a>

    <a href="https://www.aip-primeca-occitanie.fr/ros-in-occitanie/">
      <img src="{{"img/logos/RIO.png" | relURL}}" title="ROS in Occitanie du Pôle S-MART Occitanie" />
    </a>

    <a href="https://aquitaine-robotics.com">
      <img src="{{"img/logos/Aquitaine_Robotics.png" | relURL}}" title="Aquitaine Robotics" />
    </a>

    <a href="https://ensam.eu">
      <img src="{{"img/logos/ENSAM.png" | relURL}}" title="Arts et Métiers" />
    </a>

    <a href="https://www.ut.ee/en">
      <img src="{{"img/logos/Universität_Tartu.png" | relURL}}" title="Tartu University" />
    </a>

    <a href="https://www.ensil-ensci.unilim.fr/">
      <img src="{{"img/logos/Ensil-Ensci.png" | relURL}}" title="Ensil-Ensci" />
    </a>

    <a href="https://www.imerir.com">
      <img src="{{"img/logos/Imerir.png" | relURL}}" title="Imerir" />
    </a>
  </div>

  <h4>📚 {{ i18n "author" }}</h4>
  <p>
    Jessica Colombel (<a href="http://inria.fr/" target="_blank">Inria</a>),
    Jean-Luc Charles (<a href="https://artsetmetiers.fr/" target="_blank">ENSAM</a>),
    R&#xE9;mi Fabre (<a href="https://robotics.catie.fr/" target="_blank">CATIE</a>),
    Jean-Baptiste Horel (<a href="https://robotics.catie.fr/" target="_blank">CATIE</a>),
    Yoan Mollard (<a href="https://robot-enseirb-matmeca.fr/" target="_blank">Bordeaux INP</a>),
    Steve N&apos;Guyen (<a href="https://www.labri.fr/" target="_blank">LaBRI</a>),
    Alexandre P&#xE9;r&#xE9; (<a href="https://flowers.inria.fr" target="_blank">Inria</a>),
    Etienne Schmitz (<a href="https://robotics.catie.fr/" target="_blank">CATIE</a>).
  </p>

  <h4>💬 {{ i18n "help" }}</h4>

  <p> {{ i18n "help_text" }}
    <a href='{{ i18n "help_link"}}' target="_blank">
      {{ i18n "help_link_text" }}
    </a>.
  </p>
  <p>
    📅 {{ i18n "update" }} : {{ .Page.Lastmod.Format "02/01/2006, 15:04:05" }}
  </p>
</footer>