<aside>
    <ul class="topics">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="dd-item parent">
            <a href="#">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
            <ul>
                {{ range .Children }}
                <li class="dd-item">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </li>
        {{ else }}
        <li>
            <a href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</aside>